.text-center{
    text-align: center;
    margin-top: 6vh;
    font-size: 50px;
}

.mx-auto{
    margin: auto;
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.item-center{
    align-items: center;
}

.footer{
    margin-top: 60px;
}

.footer span a{
    color: rgb(83, 188, 27) !important;
    text-decoration: none;
}